<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<h1><%=t("calendar")%></h1>

<%= raw(event_calendar) %>
<%= link_to t('new_event'), new_event_path if can? :create, Event %>