<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<h1><%=t("calendar")%></h1>

<%= raw(event_calendar) %>
<%= link_to t('new_event', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' if can? :create, Event %>