<ul class="menu_top" id="main_menu">
	<li><%= link_to t('calendar'), calendar_path %></li>
	<li><%= link_to t('events'), events_path %></li>
	<li><%= link_to t('users'), users_path if can? :manage, User %></li>
</ul>
	
