<ul class="dropdown-menu">
  <li><%= link_to t('about'), page_path(t('page_about')) %></li>
  <li>
    <%= link_to t('help'), page_path(t('page_help')) %>
  </li>
  <li><%= link_to t('imprint'), page_path(t('page_imprint'))  %> </li>
</ul>