<li>
	<%= link_to event.name, event %>, 
	<%= raw(display_time_event(event)) %> 
        <%= button_edit(edit_event_path(event)) if can? :update, event %>
        <%= button_destroy(event_path(event)) if can? :destroy, event %>
</li>
