<div class="row">
  <div class="span8 offset2">
    <h1>Impressum</h1>   
    <p>
      Dienstanbieter dieser Seite ist der  
      Landesverband Niedersachsen der Piratenpartei Deutschland vertreten durch den Vorstand.               
    </p>   
    <p>Verantwortlicher gemäß §5 TMG ist 
      Andreas Neugebauer.
    </p>


    <h2>Postanschrift</h2>
    <address>
      Piratenpartei Niedersachsen<br> 
      Landesgeschäftsstelle<br> 
      Bahnhofsallee 25<br> 
      31134 Hildesheim<br>                 
    </address>                  
    <h2>E-Mail</h2>   
    <p>
      <a href="mailto:info@piraten-nds.de">info@piraten-nds.de</a>
    </p>    
    <h2>Ladungsfähige Anschrift</h2>
    <address>
      Piratenpartei Niedersachsen<br> 
      Landesgeschäftsstelle<br> 
      Bahnhofsallee 25<br> 
      31134 Hildesheim<br>                 
    </address>              


    <h2>Haftung für Inhalte</h2>
    <p>
      Der Betreiber hat alle in seinem Bereich bereitgestellten Informationen nach 
      bestem Wissen und Gewissen erarbeitet und geprüft. Es wird jedoch keine 
      Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität und 
      jederzeitige Verfügbarkeit der bereitgestellten Informationen übernommen.
    </p><p>
      Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch 
      Computerviren oder der Installation oder Nutzung von Software verursacht 
      werden, wird nicht gehaftet.
    </p><p>
      Namentlich gekennzeichnete Internetseiten und Kommentare geben die Auffassungen 
      und Erkenntnisse der abfassenden Personen wieder.
      Der Betreiber behält es sich ausdrücklich vor, einzelne Webseiten, Kommentare
      oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, 
      zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig 
      einzustellen. </p>

    <h2>Links und Verweise</h2>
    <p>
      Der Betreiber  ist nur für die "eigenen Inhalte", die er zur Nutzung 
      bereithält, nach den einschlägigen Gesetzen 
      verantwortlich.<br>		
      Von diesen eigenen Inhalten sind Querverweise ("Links") auf die Webseiten 
      anderer Anbieter zu unterscheiden. 
    </p>
    <p>
      Durch den Querverweis vermittelt der Betreiber  lediglich den Zugang zur Nutzung 
      dieser Inhalte. 
      Für diese "fremden" Inhalte ist er nicht verantwortlich, da er die 
      Übermittlung der Information nicht veranlasst, den Adressaten der 
      übermittelten Informationen nicht auswählt und die übermittelten 
      Informationen auch nicht ausgewählt oder verändert hat. Auch eine 
      automatische kurzzeitige Zwischenspeicherung dieser "fremden Informationen" 
      erfolgt wegen der gewählten Aufruf- und Verlinkungsmethodik nicht, so 
      dass sich auch dadurch keine Verantwortlichkeit des Betreibers für diese 
      fremden Inhalte ergibt. 
    </p>

    <p>
      Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben die 
      Autoren der jeweiligen Webseiten oder die Redaktion des Betreibers  den 
      fremden Inhalt jedoch daraufhin überprüft, ob durch ihn eine 
      mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit 
      ausgelöst wird. Sobald der Betreiber  jedoch feststellt oder von anderen 
      darauf hingewiesen wird, dass ein konkretes Angebot, zu dem es einen Link 
      bereitgestellt hat, eine zivil- oder strafrechtliche Verantwortlichkeit 
      auslöst, wird es den Verweis auf dieses Angebot unverzüglich 
      aufheben, soweit es technisch möglich und zumutbar ist.
    </p>

    <p>
      Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für
      Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen,
      haftet allein der jeweilige Anbieter der Seite, auf welche verwiesen wurde.
    </p>


    <h3>Credits</h3>
    <p>
      Der Quellcode des Reisebüros ist verfügbar unter:    
    </p>

    <ul>
      <li><a class="extern" href="https://github.com/tnds/reisebuero">https://github.com/tnds/reisebuero</a>
    </ul>



    <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, 
      werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte 
      Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
      Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden 
      Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige 
      Inhalte umgehend entfernen.</p>




    <h2>Datenschutz</h2>
    <p>
      Die Speicherung von Verbindungsdaten erfolgt nicht. Soweit auf 
      unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder 
      eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf 
      freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
      nicht an Dritte weitergegeben. 
    </p><p>Wir weisen darauf hin, dass die Datenübertragung 
      im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen 
      kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht 
      möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten 
      Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter 
      Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. 
      Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle 
      der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p>

  </div>
</div>