<div class="row">
  <div class="span8 offset2">
    <h1>Reisebüro für Piraten</h1>
    <p>
      Das Reisebüro soll Piraten insbesondere im Wahlkampf die gegenseitige 
      Unterstützung erleichtern. Hier können Veranstaltungen aller Art eingestellt 
      werden, so dass andere Piraten einen Überblick haben, wo noch Hilfe benötigt
      wird.
    </p>
    <p>
      Das Tool ist noch in Entwicklung, daher sind einige Funktionen noch nicht
      oder erst teilweise vorhanden. Fehlerberichte, Wünsche und Anregungen
      nehmen wir gerne im <a href="https://ticket.piraten-nds.de/projects/reisebuero-dev">Ticketsystem</a>
      entgegen. Der Quellcode ist unter <a href="https://github.com/tnds/reisebuero">https://github.com/tnds/reisebuero</a>
      verfügbar, wer gleich selbst Hand anlegen möchte ist herzlich eingeladen.
      Das Tool ist in Ruby on Rails geschrieben, sorry an alle PHP-Fans ;).
    </p>
    <p>
      Für alle inhaltlichen Fragen steht das NDS Reisebüro-Team im <a href="https://ticket.piraten-nds.de/projects/reisebuero">Ticketsystem</a>
      oder per Email unter <a href="mailto://reisebuero@piraten-nds.de">reisebuero@piraten-nds.de</a>
      zur Verfügung.
    </p>
    <p>
      Also, schau dir den <a href="/calendar">Kalender</a> oder die aktuellen 
      <a href="/events">Events</a> an, biete deine <a href="/helper_candidates/new">Hilfe</a>
      an oder stell ein <a href="/lodgings/new">Unterkunfts-Angebot oder -Gesuch</a>
      ein. Viel Erfolg im Wahlkampf!
    </p>
  </div>
</div>
