<li>
  <% if event_helper.user %>
    <%= event_helper.user.username %>
    <%= link_to t('promote_to_orga'), promote_event_event_helper_path(event_helper.event, event_helper) if show_promote %>
  <% end %>
</li>