/*
$main-color: #FF8800;
$background: #e3e8e8;
$dark:		 #272828;
$white:		 #ffffff;
$width:		 750px;

body {
    background-color: $background;
    color: $dark;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px; 
}

h1 {
    text-align: center;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px; 
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px; 
}

a {
    color: #000;
    &:visited {
    color: #666; }
    &:hover {
    color: #fff; } 
}

div {
    &.field, &.actions {
    margin-bottom: 10px; } 
}

.message {
    color: green; 
    background-color: $white;
    width:$width;
    margin:0 auto;
    text-align:center;
}

.close_button {
    float:right;
    a {
        &:hover {
            color:$main-color;
        }
    }
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table; }

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
    color: #fff; }
    ul li {
        font-size: 12px;
        list-style: square; } 
}

#outer {
    width:$width;
    margin:0 auto;
}

#top {
    height:50px;
}

#menu {
    float:left;
}

.menu_top {
    height: 20px;
    padding-left: 0;
    li {
        text-decoration: none;
        display: block;
        float: left;
        a {
            font-weight:bold;
            text-decoration: none;
            margin: 2px;
            background-color: $main-color;
            padding: 3px 5px;
            &:hover {
                background-color:
                darken($main-color, 10%);
            }
        }
    }
}

#login {
    float:right;
}

#main {

}

.month-nav {
    margin-bottom:30px;
    font-weight: bold;
}
.e-month-nav {
    width:150px;
}
.e-month-name {
    width:200px;
    margin:0 auto -18px;
    text-align:center;
    font-size: 16px;
}
.e-previous-month {
    float:left;
}
.e-next-month {
    float:right;
}
.two-column {
    width: 370px;
}
.column-1 {
    float:left;
}
.column-2 {
    float:right;
}

.red {
    color: #ff0000;
}
.event_name {
    font-size: 14pt;
    font-weight: bold;
}
*/