<h1>
  <% if @lodging.request.nil? or @lodging.request == false  %>
    <%= t('edit_lodging') %>
  <% else %>
    <%= t('edit_lodging_request_html') %>
  <% end %>
</h1>

<%= render 'form' %>

<%= link_to t('show'), @lodging %>
