<%- model_class = Lodging -%>
<div class="page-header">
<h1>
  <% if @lodging.request.nil? or @lodging.request == false  %>
    <%= t('edit_lodging') %>
  <% else %>
    <%= t('edit_lodging_request_html') %>
  <% end %>
</h1>
</div>
<%= render :partial => 'form' %>
